* {
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background: linear-gradient(60deg, #02080e 0%, #171c21 100%);

}



.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

section {
    background: linear-gradient(90deg, rgb(233, 10, 236) 0%, rgb(20, 231, 235) 100%);
    border-radius: 10px;
    width: 80%;
}

.sub-container {
    /* border: 3px solid white; */
    border-radius: 10px;
    height: 450px;
    /* width: 80%; */
    padding: 30px 20px;
    background: linear-gradient(60deg, #02080e 0%, #171c21 100%);
    margin: 4px;
    position: relative;
}

.boxes {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.first {
    background: linear-gradient(90deg, rgb(233, 10, 236) 0%, rgb(20, 231, 235) 100%);
    position: absolute;
    top: 400px;
    left: 23%;
    /* border: 2px solid white; */
    border-radius: 10px;
    height: 50px;
    width: 150px;
    display: flex;
    align-items: center;
}

.first div, .second div {
    background: linear-gradient(60deg, #02080e 0%, #171c21 100%);
    width: 98%;
    height: 48.5px;
    border-radius: 10px;
    align-items: center;
    justify-content:center ;
    margin: 0 auto;
}

.second {
    background: linear-gradient(90deg, rgb(233, 10, 236) 0%, rgb(20, 231, 235) 100%);
    position: absolute;
    top: 405px;
    left: 25%;
    /* border: 2px solid green; */
    border-radius: 10px;
    height: 50px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    margin: 20px 0;
    border-radius: 10px;
} 

/* img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
    padding-bottom: 30px;
} */

.image {
    height: 150px;
}

h1,p {
    color: white;
}

h1 {
    padding-bottom: 30px;
    font-size: 1.7rem;
}

p {
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    align-items: center;
    align-self: center;
    align-content: center;
    margin: 0 auto;
}

.sub-container > p {
    text-align: left;
    text-align: justify;
}

.second p {
    margin-top: 12px;
    color: linear-gradient( rgb(233, 10, 236) 0%, rgb(20, 231, 235) 100%);
}


